# Data Preprocessing 1-qism

In [1]:
#Missing vauelar (qiymatlar) bn ishlash

In [87]:
import pandas as pd

In [88]:
df=pd.read_csv('IMDB_Movies_Dataset.csv')

In [4]:
df.head(1)

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

In [ ]:
df.isnull().sum()   # tushub qoldirilgan ustunlar va ularning miqdori

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore            1934
Cast                    7
Release Date            0
Country of Origin       3
Languages              21
Budget               2338
Worldwide Gross      1094
Runtime                 0
dtype: int64

# Drop qilish

In [ ]:
df=df.dropna(subset='Writer', axis=0)# qatorlar boyicha tashlab yuborish

In [11]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  0
Metascore            1933
Cast                    6
Release Date            0
Country of Origin       3
Languages              21
Budget               2337
Worldwide Gross      1093
Runtime                 0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4988 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4988 non-null   int64
 1   Title              4988 non-null   object
 2   Average Rating     4988 non-null   float64
 3   Director           4988 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4988 non-null   object
 8   Country of Origin  4985 non-null   object
 9   Languages          4967 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4988 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 545.6+ KB

In [13]:
df=df.dropna(subset='Metascore', axis=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

In [8]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore            1934
Cast                    7
Release Date            0
Country of Origin       3
Languages              21
Worldwide Gross      1094
Runtime                 0
dtype: int64

In [5]:
# Qator boyicha drop ----- qiymatlar oz bolsa
# Ustun -------------------qiymatlar kop bolsa

In [ ]:
df=df.dropna(subset='Metascore', axis=0)    #  Qator

In [6]:
df=df.drop('Budget', axis=1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Worldwide Gross    3895 non-null   object
 11  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 467.8+ KB

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Worldwide Gross    3895 non-null   object
 11  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 467.8+ KB

# Mean bn to'ldirish

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Worldwide Gross    3895 non-null   object
 11  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 467.8+ KB

In [90]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore            1934
Cast                    7
Release Date            0
Country of Origin       3
Languages              21
Budget               2338
Worldwide Gross      1094
Runtime                 0
dtype: int64

In [14]:
df['Metascore']

0        82.000000
1        74.684452
2       100.000000
3        74.684452
4        74.684452
           ...
4984     74.684452
4985     74.684452
4986     74.684452
4987     74.684452
4988     74.684452
Name: Metascore, Length: 4989, dtype: float64

In [91]:
df['Metascore']=df['Metascore'].fillna(df['Metascore'].mean())

In [13]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore               0
Cast                    7
Release Date            0
Country of Origin       3
Languages              21
Worldwide Gross      1094
Runtime                 0
dtype: int64

In [92]:
df['Metascore'].fillna(df['Metascore'].mean(), inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          4989 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Worldwide Gross    3895 non-null   object
 11  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 467.8+ KB

In [18]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore               0
Cast                    7
Release Date            0
Country of Origin       3
Languages              21
Worldwide Gross      1094
Runtime                 0
dtype: int64

# Mode bn toldirish

In [93]:
df['Cast'].fillna(df['Cast'].mode()[0],inplace=True)

In [94]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore               0
Cast                    0
Release Date            0
Country of Origin       3
Languages              21
Budget               2338
Worldwide Gross      1094
Runtime                 0
dtype: int64

In [21]:
df['Metascore'].fillna(df['Metascore'].mode()[0],inplace=True)

In [22]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore               0
Cast                    0
Release Date            0
Country of Origin       3
Languages              21
Worldwide Gross      1094
Runtime                 0
dtype: int64

# Median bn toldirish

In [95]:
df['Country of Origin'].fillna(df['Country of Origin'].median(),inplace=True)

TypeError: could not convert string to float: 'United States'

In [96]:
df['Unnamed: 0'].fillna(df['Unnamed: 0'].median(),inplace=True)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          4989 non-null   float64
 6   Cast               4989 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

# Fixed qiymat bn toldirish

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          4989 non-null   float64
 6   Cast               4989 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

In [99]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore               0
Cast                    0
Release Date            0
Country of Origin       3
Languages              21
Budget               2338
Worldwide Gross      1094
Runtime                 0
dtype: int64

In [100]:
df['Languages'].value_counts()

Languages
English                   1514
Hindi                      239
Japanese                   160
English, Spanish           142
French                     130
                          ...
Spanish, Maya, English       1
French, Romanian             1
Turkish, Georgian            1
Malayalam, German            1
Turkish, French              1
Name: count, Length: 1084, dtype: int64

In [101]:
df['Languages'].fillna('English',inplace=True)

In [102]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore               0
Cast                    0
Release Date            0
Country of Origin       3
Languages               0
Budget               2338
Worldwide Gross      1094
Runtime                 0
dtype: int64

In [103]:
df['Unnamed: 0'].fillna(9,inplace=True)
df['Unnmaed: 0']=df['Unnamed: 0'].fillna(9)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          4989 non-null   float64
 6   Cast               4989 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4989 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
 13  Unnmaed: 0         4989 non-null   int64
dtypes: float64(2), int64(2), object(10)
memory usage: 545.8+ KB

In [105]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore               0
Cast                    0
Release Date            0
Country of Origin       3
Languages               0
Budget               2338
Worldwide Gross      1094
Runtime                 0
Unnmaed: 0              0
dtype: int64

In [106]:
missing_columns=['Writer','Country of Origin','Worldwide Gross']
df[missing_columns]=df[missing_columns].fillna(df[missing_columns].iloc[0])

In [107]:
missing_columns

['Writer', 'Country of Origin', 'Worldwide Gross']

In [108]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  0
Metascore               0
Cast                    0
Release Date            0
Country of Origin       0
Languages               0
Budget               2338
Worldwide Gross         0
Runtime                 0
Unnmaed: 0              0
dtype: int64

In [110]:
df.drop(columns='Budget',axis=1,inplace=True)

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4989 non-null   object
 5   Metascore          4989 non-null   float64
 6   Cast               4989 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4989 non-null   object
 9   Languages          4989 non-null   object
 10  Worldwide Gross    4989 non-null   object
 11  Runtime            4989 non-null   object
 12  Unnmaed: 0         4989 non-null   int64
dtypes: float64(2), int64(2), object(9)
memory usage: 506.8+ KB

# Data Preprocessing 2-Qism(7-dars)

In [76]:
df['Worldwide Gross']

0        $29,332,133
1         $3,513,659
2       $250,342,198
3                NaN
4                NaN
            ...
4984        $290,754
4985             NaN
4986     $29,893,636
4987     $17,871,370
4988        $550,031
Name: Worldwide Gross, Length: 4989, dtype: object

In [80]:
df['Worldwide Gross'].str.lstrip('$')

0        29,332,133
1         3,513,659
2       250,342,198
3               NaN
4               NaN
           ...
4984        290,754
4985            NaN
4986     29,893,636
4987     17,871,370
4988        550,031
Name: Worldwide Gross, Length: 4989, dtype: object

In [81]:
df['Worldwide Gross'].str.replace('[\$,]','',regex=True).astype(float)

ValueError: could not convert string to float: '₹70000000'

In [113]:
df['Worldwide Gross']=df['Worldwide Gross'].str.replace(r'[^\d.]','',regex=True).astype(float)  # Unknow typeni barcha xollarida tozalash va floatga aylantirish

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4989 non-null   object
 5   Metascore          4989 non-null   float64
 6   Cast               4989 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4989 non-null   object
 9   Languages          4989 non-null   object
 10  Worldwide Gross    4989 non-null   float64
 11  Runtime            4989 non-null   object
 12  Unnmaed: 0         4989 non-null   int64
dtypes: float64(3), int64(2), object(8)
memory usage: 506.8+ KB

In [115]:
df.head()

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Worldwide Gross,Runtime,Unnmaed: 0
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.000000,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,29332133.0,2 hours 22 minutes,0
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",74.684452,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,3513659.0,2 hours 25 minutes,1
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.000000,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin",250342198.0,2 hours 55 minutes,2
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",74.684452,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,29332133.0,1 hour 25 minutes,3
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",74.684452,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,29332133.0,2 hours 15 minutes,4

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4989 non-null   object
 5   Metascore          4989 non-null   float64
 6   Cast               4989 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4989 non-null   object
 9   Languages          4989 non-null   object
 10  Worldwide Gross    4989 non-null   float64
 11  Runtime            4989 non-null   object
 12  Unnmaed: 0         4989 non-null   int64
dtypes: float64(3), int64(2), object(8)
memory usage: 506.8+ KB

In [ ]:
duplicated_rows=df.duplicated()   # duplicated qatorni aniqlash

In [ ]:
duplicated_rows.sum()# Umumiy sonini aniqlash

0

In [120]:
duplicated_rows

0       False
1       False
2       False
3       False
4       False
        ...
4984    False
4985    False
4986    False
4987    False
4988    False
Length: 4989, dtype: bool

In [ ]:
# duplicated qatorlarni tozalash
df.drop_duplicates(inplace=True)

In [122]:
#ustunlar bo'yicha
duplicated_col=df.columns[df.T.duplicated()]

In [123]:
duplicated_col

Index(['Unnmaed: 0'], dtype='object')

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4989 non-null   object
 5   Metascore          4989 non-null   float64
 6   Cast               4989 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4989 non-null   object
 9   Languages          4989 non-null   object
 10  Worldwide Gross    4989 non-null   float64
 11  Runtime            4989 non-null   object
 12  Unnmaed: 0         4989 non-null   int64
dtypes: float64(3), int64(2), object(8)
memory usage: 506.8+ KB

In [125]:
df.drop(columns=duplicated_col, inplace=True)

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4989 non-null   object
 5   Metascore          4989 non-null   float64
 6   Cast               4989 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4989 non-null   object
 9   Languages          4989 non-null   object
 10  Worldwide Gross    4989 non-null   float64
 11  Runtime            4989 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 467.8+ KB